<div class="answer_html">
  <div class="your">
  <h1>Stupid Coaching</h1>
  <p> <%= @question %></p>
  <p> <strong>-You</strong></p>
</div>
  <p><strong><%= @answer %></strong></p>
  <p>-Your coach</p>

  <p><%= link_to "Ask again", ask_path %></p>
</div>
