// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  margin: 0 auto;
  text-align: center;
}

#box {
  width: 400px;
  text-align: center;
  margin:0 auto;
}

.answer {
  margin: 0 auto;
}

.answer_html {
    margin: 0 auto;
  text-align: center;

}

.your{
  background-color: #FFFCE1;
}
